<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nowsaying</title>
    <!--<script></script>-->
</head>
<body>
    <%= owner %> is currently listening to:

    <div id="songdetails"><%= `${songdetails.song} by ${songdetails.artist}` %></div>
    </br>
    Here's a lyric snippet:
    <div id="lyrics" style="white-space: pre-line;"><%- lyrics %></div>
</body>
</html>